<!-- <table class="table">
    <thead>
        <tr>
            <th>Color Name</th>
        </tr>
    </thead>
    <tr *ngFor="let color of colors">
        <td>{{color.colorName}}</td>
    </tr>
</table> -->
<h5>Colors</h5>
<ul class="list-group">
    <li (click)="setCurrentColor(color)" *ngFor="let color of colors"
    routerLink="/cars/color/{{color.id}}"
    [class]="getCurrentColorClass(color)">
        {{color.colorName}}
    </li>
</ul>

<h5 *ngIf="currentColor">{{currentColor.colorName}} you chose</h5>