<!-- <table class="table">
    <thead>
        <tr>
            <th>Brand Name</th>
        </tr>
    </thead>
    <tr *ngFor="let brand of brands">
        <td>{{brand.brandName}}</td>
    </tr>
</table> -->
<h5>Markalar</h5>
<ul class="list-group">
    <li [class]="getAllBrandClass()" routerLink="/cars">Tüm Arabalar</li>
    <li (click)="setCurrentBrand(brand)" *ngFor="let brand of brands"
    routerLink="/cars/brand/{{brand.id}}"
    [class]="getCurrentBrandClass(brand)">{{brand.brandName}}
</li>
</ul>

<h5 *ngIf="currentBrand">{{currentBrand.brandName}} seçtiniz</h5>

