<!-- <table class="table">
    <thead>
        <tr>
            <th>Brand Name</th>
        </tr>
    </thead>
    <tr *ngFor="let brand of brands">
        <td>{{brand.brandName}}</td>
    </tr>
</table> -->
<h5>Brands</h5>
<ul class="list-group">
    <li [class]="getAllBrandClass()" routerLink="/cars">All Cars</li>
    <li (click)="setCurrentBrand(brand)"
    routerLink="/cars/brand/{{brand.id}}" 
    *ngFor="let brand of brands"
    [class]="getCurrentBrandClass(brand)">
    {{brand.brandName}}</li>
</ul>

<h5 *ngIf="currentBrand">{{currentBrand.brandName}} you chose</h5>

